* {
  font-family: "Press Start 2P", cursive;
}
.centered {
  display: flex;
  justify-content: center;
}
.switch {
  position: absolute;
  left: 5px;
  color: black;
}
.bodyDiv {
  width: 1640px;
  height: 940px;
  background-size: cover;
  background-image: url("../../Assets/pngwing.com.png");
}

.background {
  /* z-index: 1; */
  background-size: cover;
  /* width: 1700px;
  height: 1300px; */
  /* position: fixed;
  left: 100px;
  top: 0;
  right: 0; */
}

.canvas {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
}

/* .flash {
  z-index: 10;
  background: black;
  opacity: 1;
  position: "absolute";
  height: "100%";
  width: "100%";
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
} */

h1 {
  margin: 0;
  font-size: 16px;
  /* font-family: "Press Start 2P", cursive; */
}

.abilityBar {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 152px;
  border-top: 4px black solid;
  display: flex;
}

.opponent {
  z-index: 2;
  background-color: white;
  width: 250px;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 4px black solid;
  padding: 8px;
}

.healthBarDiv {
  position: relative;
}

.healthBarPotential {
  height: 5px;
  background-color: grey;
  margin-top: 8px;
}

.healthBar {
  height: 5px;
  background-color: rgb(10, 197, 10);
  /* margin-top: 8px; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.playerDiv {
  display: flex;
  justify-content: center;
  width: 33.33%;
  position: relative;
  /* align-items: center; */
}

.playerName {
  margin: 14px;
}

.playerHealthPotential {
  height: 5px;
  background-color: grey;
  /* margin-top: 8px; */
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;
}

.playerHealth {
  height: 5px;
  background-color: rgb(10, 197, 10);
  /* margin-top: 8px; */
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;
}

.buttonDiv {
  width: 66.66%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.buttonDiv button {
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  /* font-family: "Press Start 2P", cursive; */
}

button:hover {
  background-color: rgba(128, 128, 128, 0.766);
}

.typeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  border-left: 4px black solid;
}

.battleText {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 33.33%;
  background-color: white;
  display: none;
  cursor: pointer;
}
